{% extends 'base.html' %}


{% block body %}

<div class="block-menu"style="background-image: url({{ url_for('static', filename='media/img/image13.png') }}); background-attachment: fixed; background-repeat: no-repeat; height: 69vh">
    <div class="block-profile" style="margin-bottom: 5vh">
        <h2>{{ user.email }}</h2>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li><h2>{{ message }}</h2></li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        
        <h1>Добавление товара</h1>
        <form action="{{url_for('add_product')}}" method="POST" class="form1" enctype="multipart/form-data">
            <label for="id">Название товара</label>
            <input type="text" name="name" id="name">
        
            <label for="price">Цена товара (без указания валюты)</label>
            <input type="number" name="price" id="price" maxlength="8" minlength="2">
        
            <label for="img">Фото товара (одно)</label>
            <input type="file" name="img" id="img">
            
            <select name="category_id" id="category" required style="width: 100%;">
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit">Добавить</button>
        </form>
        <br>
        <a onclick="javascript:history.back(); return false;">Назад</a>
    </div>
</div>

{% endblock %}