{% extends 'base.html' %}


{% block body %}

<div class="block-menu"style="background-image: url({{ url_for('static', filename='media/img/image13.png') }}); background-attachment: fixed; background-repeat: no-repeat">
    <div class="block-profile">
        <h2>{{ user.email }}</h2>
        <br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li><h2>{{ message }}</h2></li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <br>
        <a href="{{ url_for('add_category', id=category.id) }}">Добавить категорию</a>
        <br>
        {% for category in category %}
        <a href="{{ url_for('edit_category', id=category.id) }}">Редактировать/Удалить категорию {{ category.name }}</a>
        {% endfor %}
        <br>
        <a onclick="javascript:history.back(); return false;">Назад</a>
    </div>
</div>

{% endblock %}